{
    "app": {
        "domain": "http://127.0.0.1:3000",
        "name": "breeze",
        "host": "127.0.0.1",
        "port": 3000,
        "mode": "debug",
        "key": "breeze"
    },
    "mysql": {
        "host": "127.0.0.1",
        "port": 3306,
        "database": "breeze",
        "username": "root",
        "password": "root"
    },
    "reids": {
        "host": "127.0.0.1",
        "port": 6379,
        "database": 0,
        "password": ""
    }
}