{
    "app": {
        "name": "breeze-api",
        "host": "127.0.0.1",
        "port": 3000,
        "key": "breeze-api-key"
    },
    "mysql": {
        "host": "127.0.0.1",
        "port": 3306,
        "database": "your database name",
        "username": "root",
        "password": ""
    },
    "reids": {
        "host": "127.0.0.1",
        "port": 6379,
        "database": 0,
        "password": ""
    }
}